.nav{
    height: 100px;
    width: 100%;
    border: 1px solid white;
    margin-top: -40px;
    background-color: lightsalmon;
}

.main-box{
    display: flex;

}

.left-box{
    height: 100vh;
    width: 30%;
    border: 1px solid black;
    margin-top: 2.5px;
}

.dp{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    border-radius: 130%;
    margin-left: 110px;
    margin-top: 15px;

}
